<div class='page-header'>
  <h1>Habit <small>Form habits that improve your life</small></h1>
</div>  
  <br />
  <div class='hero-unit'>
    
    <%= render :partial => 'form' %>
    
  </div>

<br />
    </div>
  <br />
  <br />
  <%= render :partial => 'pages/detail' %>
  