<br />
<div class='span6'>
  <h2>Habits you want</h2>
</div> 
<div class='span6'>
  <%= image_tag("app_shot.png") %>
</div>
<br />
<div class='span6'>
  <%= image_tag("text.png") %>
</div> 
<div class='span6'>
  <h2>Simple exercises</h2>
</div>
