<br />
<br />
<div class='span6'>
  <h2>Choose the habits you want</h2>
</div> 
<div class='span6'>
  <div class='well'>
    <div id='web'>
      <%= image_tag("app_shot.png") %><br />
    </div>  
  </div>  
</div>
<br />
<br />
<div class='span6'>
  <br />
  <br />
  <div class='well'>
    <div id='phone'>  
      <%= image_tag("iphone2.png") %>
    </div>
  </div>  
</div> 
<div class='span6'>
  <br />
  <br />
  <h2>Exercises develop the habit</h2>
</div>
