<div class='span4'>
  <div class='span1'>
    <%= image_tag("brain.png") %><br />
  </div>
  <div class='span3'>  
    <div style='padding-left:15px'>
      <p>This is some awesome text</p>
    </div>  
  </div>
</div> 
<div class='span4'>
  <div class='span1'> 
    <%= image_tag("float.png") %>
  </div>
  <div>  
    <div style='padding-left:15px'>
      <p>Receive exercises via SMS</p>
    </div>  
  </div>
</div>  
<div class='span4'>
  <div class='span1'>
    <%= image_tag("strong.png") %>
  </div>  
  <div class='span3'>  
    <div style='padding-left:15px'>
      <p>Complete exercises to form the habit</p>
  </div>
</div>