<div class='page-header'>
  <h1>Habit <small>Form habits that improve your life</small></h1>
</div>  
  <br />
  <div class='hero-unit'>  
    <div class="carousel">
      <h2 align='center'>
        <div class='active item'>
          <div class='inline'>Eat healthier</div>
        </div>  
        <div class='item'>
          <div class='inline'>Become more punctual</div>
        </div>
        <div class='item'>
          <div class='inline'>Write each day</div>
        </div>   
        <div class='item'>
          <div class='inline'>Read a book each month</div>
        </div>  
        <div class='item'>
          <div class='inline'>Exercise daily</div>
        </div>   
        <div class='item'>
          <div class='inline'>Be thankful</div>
        </div>
        <div class='item'>
          <div class='inline'>Become more courteous</div>
        </div>
      </h2>
    </div>     
  </div>

<br />
    </div>
  <br />
  <br />
  <%= render :partial => 'detail' %>
    
    