<div class='span2'>
  <p>&nbsp;</p>
</div>  
<div class='span7'>
  <div class='well'> 
    <br />
    <h1 align='center'>Chan<br /><small>Exercises to make you feel good</small></h1><br />
    <br />
    <div class='padding-left: 35px'>
      <h3>1. Choose the feeling you want</h3><br />
      <h5>Example: Confident, Happy, Social</h5><br />
      <br />
      <h3>2. Enter you phone number</h3><br />
      <h5>Exercises are sent via SMS</h5><br />  
      <br />
      <h3>3. Feel good everyday</h3><br />
      <h5>Do the exercises and get the feeling you want</h5><br />
      <br />
    </div>  
    <div align='center'>
      <%= button_to 'Pricing & Sign Up', contact_path, :class => 'btn btn-large btn-success span3', :method => :get %>
    </div>
  </div>
</div>    
<div class='span2'>
  <p>&nbsp;</p>
</div>  