<%= form_for @message, :url => contact_path do |form| %>
  <fieldset class="fields">

    
    <div class="field">
      <%= form.label :email %>
      <%= form.text_field :email %>
    </div>

  
  <fieldset class="actions">
    <%= form.submit "Send" %>
  </fieldset>
<% end %>