<!DOCTYPE html>
<html>
<head>
  <title>Habit</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Quando|Capriola' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Fanwood+Text:400,400italic|Raleway:100' rel='stylesheet' type='text/css'>
  <script type="text/javascript">
    $(function(){
      $('.carousel').carousel();
    });

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-34209216-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>
<body>
  <div class='container'>
    <div class='row'>
      <div class='span12'>
        <%= yield %>
        <hr>
      <footer 
          <p>&copy; Habit<a href="/contact" style="float:right">&nbsp;Contact</a></p>
      </footer>
      <br />  
    </div>
  </div>      
</body>
</html>
